<div class="container-fluid header">
    <div class="site-header">
        <div class="row">
            <div class="col-sm-6 col-site-logo"><a href="#/"><h1>cap hpi</h1></a><h2>global</h2></div>
            <div class="col-sm-6 col-util">
                <div class="user-info">
                    <span class="user-profile-img"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonohunt/128.jpg" /></span>
                    <span class="user-name">Dan Birch</span>
                    <span class="user-email">dan@cap-hpi.com</span>
                </div>
                <ul class="util-menu">
                    <li><a href="#nws"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                    <li><a href="#cha"><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <ul class="site-nav">
            <li class="active"><a href="#all">Apps</a></li>
            <li><a href="#upd">Updates</a></li>
        </ul>
    </div>
</div> <!-- /container -->