<div ng-include src="'/views/shared/header.html'"></div>

<div class="container">
    <div class="col-md-8">
        <div class="dashboard-cards">
            <div class="card shadow"><div class="card-content"><a href="#smr" class="card-button">SMR Forecast</a></div></div>
            <div class="card shadow"><div class="card-content"><a href="#/vehicle-data" class="card-button">Vehicle Data</a></div></div>
            <div class="card shadow"><div class="card-content"><a href="#/valuations" class="card-button">Valuations</a></div></div>
            <div class="card shadow"><div class="card-content"><a href="#/api-doc" class="card-button">API Documentation</a></div></div>

        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboard-cards">
            <div class="card shadow card-large"><div class="card-content"></div></div>
        </div>
    </div>

</div> <!-- /container -->