<div id="login-panel">

    <div>
        <img src="/content/images/cap-hpi-logo-grey.png" />

        <div class="form-group">
            <input class="form-control input-lg" placeholder="Email" type="email" />
        </div>

        <div class="form-group">
            <input class="form-control input-lg" placeholder="Password" type="password" />
        </div>

        <a href="#/dashboard" class="btn">Login</a>

        <div class="row">
            <div class="col-xs-6 text-left">
                <input type="checkbox" name="remember-me" id="login-remember-me" /><label for="login-remember-me">Remember Me</label>
            </div>
            <div class="col-xs-6 text-right">
                <a href="#" class="lnk">Forgot?</a>
            </div>
        </div>
    </div>
</div>