
@import "../modules/colours";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/glyphicons-halflings-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300|Open+Sans+Condensed:300');
@import url('//fonts.googleapis.com/css?family=Didact+Gothic');

@font-face {font-family: 'BrandonGrotesque-RegularItalic';src: url('/fonts/2DEE30_0_0.eot');src: url('/fonts/2DEE30_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2DEE30_0_0.woff2') format('woff2'),url('/fonts/2DEE30_0_0.woff') format('woff'),url('/fonts/2DEE30_0_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Regular';src: url('/fonts/2DEE30_1_0.eot');src: url('/fonts/2DEE30_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2DEE30_1_0.woff2') format('woff2'),url('/fonts/2DEE30_1_0.woff') format('woff'),url('/fonts/2DEE30_1_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-LightItalic';src: url('/fonts/2DEE30_2_0.eot');src: url('/fonts/2DEE30_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2DEE30_2_0.woff2') format('woff2'),url('/fonts/2DEE30_2_0.woff') format('woff'),url('/fonts/2DEE30_2_0.ttf') format('truetype');}
@font-face {font-family: 'BrandonGrotesque-Light';src: url('/fonts/2DEE30_3_0.eot');src: url('/fonts/2DEE30_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/2DEE30_3_0.woff2') format('woff2'),url('/fonts/2DEE30_3_0.woff') format('woff'),url('/fonts/2DEE30_3_0.ttf') format('truetype');}

h1, h2, h3, h4 { font-family: 'BrandonGrotesque-Light', sans-serif !important; }

h1 { font-size: 30px; font-weight: bold; color: $blue_va; margin: 10px 0 5px; }
h2 { font-size: 18px; font-weight: bold; margin: 10px 0 5px; }
h3 { font-size: 16px; font-weight: bold; margin: 25px 0 10px; }
h4 { font-size: 14px; font-weight: bold; margin: 6px 0 3px; }