
.int-cap-hpi {

    .container-fluid.header {
        padding: 0;
        background-image: url('../../content/images/header-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000012;
        background-position: right;
    }

    .col-site-logo {
        text-align: center;
    }

    .col-util {
        text-align: center;
    }

    .site-header { 
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px 20px 0;
        text-align:center;
        h1 {
            margin: 0 auto; padding: 0; text-indent: -9999px; background-image: url('../../content/images/cap-hpi-logo-white.png'); width: 140px; height: 41px; display: block;
        }
        h2 {
            display: block; font-weight: 300; font-size: 24px; font-family: 'Open Sans'!important;
        }

        .util-menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border-left: 1px $grey-links solid;
            display: inline-block;
            li { float: left; font-size: 24px; }
            a { color: $grey-links; display: inline-block; padding: 5px; margin: 0 0 0 20px;
                &:hover {
                    color: lighten($grey-links, 10%);
                }
            }
        }
        .user-info {
            display: inline-block; color: #ebebeb; position: relative; padding-left: 48px; min-height: 50px; margin-right: 20px;
            .user-name { display: block; margin-top: 7px; }
            .user-email { display: block; font-size: 13px; }
            .user-profile-img { overflow: hidden; border-radius: 100%; position: absolute; top: 8px; left: 0;
                img { width: 35px; }
            }
        }
    }

    .site-nav { 
        list-style-type: none;
        margin: 10px auto 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;

        li {
            float: left;
            margin: 0 5px 0 0;
            &.active {
                &:hover {
                background-color: lighten($bg-grey, 10%);
            }
            }
            &:hover {
                background-color: lighten($bg-grey, 10%);
                border-bottom: 3px lighten($bg-grey, 10%) solid;
            }
            a { 
                color: #FFF;
                padding: 7px;
                display: inline-block;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .shadow {
        box-shadow: 0 10px 6px -6px #dcdcdc;
    }
    
    //Sort Colours
    &.global {
        .site-header h2 { color: $global-colour; }
        .site-nav li.active { border-bottom: 3px $global-colour solid;
            &:hover {
                border-bottom: 3px $global-colour solid;
            }
        }
    }

}

@media (min-width: $screen-sm) {
    .int-cap-hpi {
        .col-util {
            text-align: right;
        }
        .col-site-logo {
            text-align: left;
        }
        .site-header { 
            text-align: left;
            a { vertical-align: top; display: inline-block;}
            h1 {
                display: inline-block; margin: 0 20px 0 0; 
            }
            h2 {
                display: inline-block; margin: 5px 0;
            }
        }
        .site-nav {
            display: block;
            li {
                margin: 0 20px 0 0;
                a { padding: 10px; }
            }
        }


    }          
}