/*!
 * jsonformatter
 * 
 * Version: 0.6.0 - 2016-04-28T02:57:03.661Z
 * License: Apache-2.0
 */

$text: #6e6e6e;
$textNumber: $global-colour;
$textBoolean: #7767e2;
$textNull: #855A00;
$textUndefined: #ca0b69;
$textFunction: #FF20ED;
$textString: #c41a16;
$key: #881391;
$bracket: $global-colour;

.json-formatter-row {
    font-family: monospace;
}

.json-formatter-row,
.json-formatter-row a,
.json-formatter-row a:hover {
    color: $text;
    text-decoration: none;
}

.json-formatter-row .json-formatter-row {
    margin-left: 1em;
}

.json-formatter-row .children {
    margin-left: 6px;
}

.json-formatter-row .children.empty {
    opacity: 0.5;
    margin-left: 1em;
}

.json-formatter-row .children.empty.object:after {
    content: "No properties";
}

.json-formatter-row .children.empty.array:after {
    content: "[]";
}

.json-formatter-row .string {
    color: $textString;
    white-space: pre;
    word-wrap: break-word;
}

.json-formatter-row .number {
    color: $textNumber;
}

.json-formatter-row .boolean {
    color: $textBoolean;
}

.json-formatter-row .null {
    color: $textNull;
}

.json-formatter-row .undefined {
    color: $textUndefined;
}

.json-formatter-row .function {
    color: $textFunction;
}

.json-formatter-row .date {
    background-color: rgba(0, 0, 0, 0.05);
}

.json-formatter-row .url {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.json-formatter-row .bracket {
    color: $bracket;
}

.json-formatter-row .key {
    color: $key;
    cursor: pointer;
}

.json-formatter-row .constructor-name {
    cursor: pointer;
}

.json-formatter-row .toggler {
    font-size: 0.8em;
    line-height: 1.2em;
    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;
}

.json-formatter-row .toggler:after {
    display: inline-block;
    transition: transform 100ms ease-in;
    content: "►";
}

.json-formatter-row .toggler.open:after {
    transform: rotate(90deg);
}

.json-formatter-row > a > .thumbnail-text {
    opacity: 0;
    transition: opacity 0.15s ease-in;
    font-style: italic;
}

.json-formatter-row:hover > a > .thumbnail-text {
    opacity: 0.6;
}

.json-formatter-dark.json-formatter-row {
    font-family: monospace;
}
