.filter-controls {
        h2 { font-size: 12px; margin: 0 0 5px; }
        .filter {
            width: 100%; height: 80px; padding: 10px; position: relative; margin-bottom: 5px; 
        }
    }  

@media (min-width: $screen-sm) {
    .filter-controls {
        @include flexParent();
        margin: 20px 0 0;

        .filter {
            width: 30%;  
        }
    }    
}
@media (min-width: $screen-md) {
    .filter-controls {
        .filter {
            width: 18%;
        }
    }    
}

/*.vehicle-data {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        border-bottom: 1px #ccc solid;
        margin: 2px;
        padding: 2px;
        ul { 
            margin: 0;
            padding: 0;
            list-style-type: none;
            border-bottom: 1px #ccc solid;
             li { border: none; }
        }
        span { display: inline-block; }
        span.key { width: 150px; vertical-align: top; word-wrap: break-word; }
    }
}*/